src/main/mule/mule-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="043c1d09-ae96-4a4f-bef7-012b777935bc" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<flow name="mule-demoFlow" doc:id="f36cbcb5-b936-4707-bb40-700ce55a2a4f" >
		<http:listener doc:name="Listener" doc:id="a3ce811e-b498-4d59-b1f3-d6226007a550" path="/hello" config-ref="HTTP_Listener_config" allowedMethods="POST"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="5c25b722-0218-47c4-8918-6aebb8ede3d2" />
		<logger level="INFO" doc:name="Logger" doc:id="264b0a0c-4538-4c28-b978-e67c70e0fd5d" message="#[payload]" />
	</flow>
</mule>
